body {
  font-family: sans-serif;
  font-size: smaller;
}
.navigation .logo img {
  width: 60px;
  margin: 10px 10px 5px 5px;
}
a {
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  text-decoration: none;
  display: inline-flex;
}

header {
  background-color: rgb(228, 217, 186);
}
