body {
  font-family: sans-serif;
  font-size: smaller;
  margin: 0;
}

/* Headers and footers */
.navigation .logo img,
footer .logo img {
  width: 60px;
  margin: 10px 10px 10px 10px;
}
.slogan {
  font-style: italic;
}
a {
  text-decoration: none;
  color: black;
}
.navigation,
.menu-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.menu-header {
  width: 100%;
  text-align: end;
}
.menu ul li {
  text-decoration: none;
  display: inline-flex;
  padding: 10px 10px;
}
.list {
  width: 100%;
}
header {
  background-color: rgb(238, 230, 230);
}
footer {
  background-color: rgb(78, 81, 87);
}

/* Index.html main info */
.info-page-photo img {
  width: 100%;
  margin: 0;
}

/* General appearance */

.section {
  margin: 50px 200px 100px 200px;
  text-align: justify;
}

/* About us */
.quotes {
  text-align: start;
}

/* Contacts */
.section-contacts {
  display: flex;
  align-items: center;
}
.section-contacts img {
  width: 400px;
}
.contacts-text {
  padding-left: 40px;
}
.photo-about-us img {
  width: 280px;
  padding-left: 30px;
}

.section-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-page-text,
.about-us-text {
  line-height: 1.6;
}
.gallery img {
  width: 40%;
}
.gallery {
  display: flex;
}
