body {
  font-family: "IBM Plex Serif", serif;
  font-size: 11px;
  margin: 0;
  color: rgb(59, 51, 51);
  line-height: 1.6;
}

/* Hyperlink style */
a {
  text-decoration: none;
  color: rgb(59, 51, 51);
}
a:hover {
  color: rgb(131, 12, 12);
}

/* Headers and footers */
.navigation .logo img,
footer .logo img {
  width: 60px;
  margin: 10px 10px 10px 10px;
}
.slogan {
  font-style: italic;
  color: rgb(59, 51, 51);
}

.navigation,
.menu-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.menu-header {
  width: 100%;
  text-align: end;
}
.menu ul li {
  text-decoration: none;
  display: inline-flex;
  padding: 10px 10px;
}

header {
  background-color: rgb(207, 198, 198);
}
footer {
  background-color: rgb(93, 95, 99);
}
.footer-text {
  color: rgb(59, 51, 51);
  font-size: 10px;
}

/* Index.html main photo */
.info-page-photo img {
  width: 100%;
  margin: 0;
}

/* General appearance of main page information */
.section {
  margin: 50px 200px 100px 200px;
  text-align: justify;
}

/* Contacts */
.section-contacts {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.section-contacts img {
  width: 170px;
}

.contacts-text {
  padding-left: 40px;
  align-self: center;
}

/* About us */
.photo-about-us img {
  width: 250px;
  padding-left: 30px;
}

.quotes {
  text-align: start;
}

.section-about-us,
.section-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Gallery */
.gallery img {
  width: 40%;
  padding: 2px;
}
.gallery {
  display: flex;
}

.gallery-one-photo img {
  width: 100%;
  padding-top: 2px;
}

.section-gallery h4 {
  text-align: center;
  padding-top: 20px;
}

.section-gallery h3 {
  text-align: center;
  padding-bottom: 10px;
}

/* Services */

.section-services img {
  width: 290px;
  padding-right: 0px;
}

.section-services {
  display: flex;
  justify-content: space-between;
}
.section-services ul li {
  list-style-type: none;
}
.service-text {
  text-align: center;
  padding: 0 0 10px 0;
  margin: 0;
}
